@media screen and (max-device-width: 428px) and (orientation: portrait){
    body {
        background-image: url("tahed.jpg");
        display:grid;
        justify-content: center;
        align-items: center;
    }

    
    header{
        width: 100%;
        padding: 50px;
        text-align: center;
        font-size: 80px;       
        background-color: #F5CCF2;
    }
    .main{
        overflow-y: hidden;
        width: 80%;
        margin: auto;
        padding-top: 50px;
        text-align:justify;
        font-size: 60px; 
    }
    .main:hover{
        overflow-y: scroll;
    }
  }
